{%for switch in switches %}

{# set hostname for task as the hostname parameter in the YAML #}
- hosts: {{ switch.hostname }}
  gather_facts: false
  vars_files:
{# uses the file path in the YAML #}
    - {{ credentials_file_path }}/credentials_{{ switch.os }}.yaml
  vars:
{# sets connection type depending on the switch os #}
{%  if switch.os == "junos" %}
    ansible_connection: ansible.netcommon.netconf
    ansible_network_os: junipernetworks.junos.junos
{%  elif switch.os == "nxos" or switch.os =="ios" %}
    ansible_connection: ansible.netcommon.network_cli
    ansible_network_os: cisco.{{ switch.os }}.{{ switch.os }}
{%  endif %}

{# switch username and password loaded as raw text for the playbook to fill in with the vault parameters found on decryption #}
{%  raw %}
    ansible_user: "{{ username }}"
    ansible_password: "{{ password }}"

{%  endraw %}

{# applies to NX OS and IOS #}
{%if switch.os == "nxos" or switch.os == "ios"%}
  tasks:
{# creates the backups directory and saves the current config with the hostname #}
      - name: create backups directory
        ansible.builtin.file:
          path: ./switch_configs/switch_vlans/backups
          state: directory
          recurse: yes

      - name: backup current config
        cisco.{{ switch.os }}.{{ switch.os }}_config:
          backup: true
          backup_options:
            dir_path: ./switch_configs/switch_vlans/backups/
            filename: backup_{{ switch.hostname }}

{# iterates through the interfaces part of the YAML #}
{%    for section in switch.interfaces %}

{# checks if the revert variable is set to True, changes the task description accordingly  #}
{%      if not switch.revert %}
      - name: enable {{ section.interface }}, set description
{%      else %}
      - name: undoing {{ section.interface }}
{%      endif %}
        cisco.{{ switch.os }}.{{ switch.os }}_interfaces:
          config:
            - name: {{ section.interface }}
{# if device os is nxos, set layer 2 explicitly on the interface as default is l3 #}
{%            if switch.os == "nxos" %}
              mode: layer2
{%            endif %}
{%            if switch.revert %}
              enabled: false
{%            else %}
              enabled: true
{%            endif%}
{# if we're not reverting the change, apply the description provided #}
{%            if not switch.revert %}
              description: {{ section.description }}
{%            endif %}

{# if the change is being reverted, replace the current config to be a layer 2 port and not shutdown, otherwise merge it normally #}
{%-       if switch.revert %}
          state: replaced
{%-       else %}
          state: merged
{%-       endif %}

{%      if not switch.revert %}

      - name: configure {{ section.interface }} as {{ section.mode }} vlan {{ section.vlan }}
{%      else %}
      - name: undoing {{ section.mode }} {{ section.interface }} {{ section.vlan }}
{%      endif %}
        cisco.{{ switch.os }}.{{ switch.os }}_l2_interfaces:
          config:
            - name: {{ section.interface }}
              mode: {{ section.mode }}
{%            if section.mode == "access" %}
              access:
                vlan: {{ section.vlan }}
{%            elif section.mode == "trunk" %}
              trunk:
{%              if section.vlan ==  "None"   %}
                allowed_vlans: all
{%              else%}
                allowed_vlans: {{ section.vlan }}
{%              endif %}
{%-           endif                         %}
{%-       if switch.revert  %}
          state: deleted
{%-       else %}
          state: merged
{%-       endif %}


{% endfor %}

      - name: save configuration if changed
        cisco.{{ switch.os }}.{{ switch.os }}_config:
          save_when: modified

{%elif switch.os == "junos" and not switch.els%}
  tasks:
{% for section in switch.interfaces %}
    - name: change interface state
      junipernetworks.junos.junos_interfaces:
        config:
          - name: {{ section.interface }}
            description: {{ section.description }}
{%          if switch.revert %}
            enabled: false
{%          else %}
            enabled: true
{%          endif %}

{%   if section.mode == "access" %}
    - name: configuring access port {{ section.interface }} in vlan {{ section.vlan }}
      junipernetworks.junos.junos_l2_interfaces:
        config:
          - name: {{ section.interface }}
            enhanced_layer: false
            unit: 0
            access:
              vlan: {{ section.vlan }}
{% elif section.mode == "trunk" %}
    - name: configuring trunk port {{ section.interface }} with allowed vlans {{ section.vlan }}
      junipernetworks.junos.junos_l2_interfaces:
        config:
          - name: {{ section.interface }}
            enhanced_layer: false
            unit: 0
            trunk:
              allowed_vlans: {{ section.vlan }}
{%     endif %}
{%      if switch.revert %}
        state: deleted
{%      else %}
        state: replaced
{%      endif %}
{%   endfor %}

{%- elif switch.os == "junos" and switch.els %}
  tasks:
{% for section in switch.interfaces %}
{%   if section.mode == "access" and section.vlan != None and section.vlan != 1%}
    - name: configuring access port {{ section.interface }} in vlan {{ section.vlan }}
      junipernetworks.junos.junos_l2_interfaces:
        config:
          - name: {{ section.interface }}
            enhanced_layer: true
            unit: 0
            access:
              vlan: {{ section.vlan }}
{%  elif section.mode == "access" and section.vlan == None or section.vlan == 1%}
    - name: configuring access port {{ section.interface }} in vlan default
      junipernetworks.junos.junos_l2_interfaces:
        config:
          - name: {{ section.interface }}
            enhanced_layer: true
            unit: 0
            access:
              vlan: default
{% elif section.mode == "trunk" %}
    - name: configuring trunk port {{ section.interface }} with allowed vlans {{ section.vlan }}
      junipernetworks.junos.junos_l2_interfaces:
        config:
          - name: {{ section.interface }}
            enhanced_layer: false
            unit: 0
            trunk:
              allowed_vlans: {{ section.vlan }}
{%     endif %}
        state: replaced
{%   endfor %}
{%- endif%}
{% endfor %}

