{%- for device in devices %} 
hostname {{ device.hostname }}

        {%- for vlan in device.vlans %} 
vlan {{ vlan.vlan }}
{%- if vlan.name != none %} 
 name {{ vlan.name }}
{%- endif %}
                {%- if vlan.remove %} 
no vlan {{ vlan.vlan }}
                {%- endif %} 
         {%- endfor %} 

{%-for interface in device.interfaces %} 
{% if interface.enabled %} 
interface {{ interface.interface }}
        {%-if interface.mode == "access" %} 
  no switchport trunk allowed vlan
  switchport access vlan {{ interface.vlan }}
  spanning-tree port type edge
        {%-elif interface.mode == "trunk" %} 
  no switchport access vlan
  switchport mode trunk
  spanning-tree port type edge trunk
                {%-if interface.vlan != none %} 
  switchport trunk allowed vlan {{ interface.vlan }}
                {%-endif %} 
        {%-endif %} 
{%- if interface.description != none %} 
  description {{ interface.description }}
{%- endif %} 
  no shutdown 

{%- if interface.channel_num != none and interface.channel_mode != none %} 
  channel-group {{ interface.channel_num }} force mode {{ interface.channel_mode }}
{%- else %}

  load-interval 10
{%- endif %} 
{%- if interface.tengtx %}

  media-type 10g-tx
{%-elif not interface.tengtx and "port" not in interface.interface %}

  no media-type 10g-tx
{%-endif %}

{%-elif not interface.enabled %}   
interface {{ interface.interface }}
  no spanning-tree port type edge
  no switchport mode 
{%-if "Port" not in interface.interface %} 
  no channel-group
{%-endif %} 
  no switchport access vlan 
  no description
  no switchport trunk allowed vlan 
{%-endif %} 
{%-endfor %} 

{#
interface mgmt0
  vrf member management
{%for item in device.mgmt %}
  ip address {{ item.address }}
{% endfor %}

{% for item in device.mgmt %}
vrf context management
  ip route 0.0.0.0/0 {{ item.gateway}}

  
{% endfor %}

 #}
icam monitor scale

line console
line vty
{% endfor %} 
end
