devices:
  - hostname: 
    vlans: 
    - vlan: 
      remove: 
      name: 
    - vlan: 
      remove: 
      name: 
   
    mgmt: 
    - address: 
      gateway: 
      vlan: 62

    os: 
    interfaces: 
{% for i in range(1,61) %} 

    - interface: Ethernet1/{{ i }}
      enabled: False
      10-g-tx: False
      channel_num: 
      channel_mode: 
      description: 
      mode: 
      vlan: 
{% endfor %}
